{% extends '_layout.html' %}

{% block body %}
<h2>Welcome, {{ user.username }}</h2>

<!-- Link to Search Users Page -->
<a href="/search_users" class="btn btn-primary">Search Users</a>

<!-- Logout form -->
<form action="/logout" method="post">
    <button type="submit" class="btn btn-danger">Log out</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Establish SocketIO connection after the page has loaded
        connectSocketIO();
    });
</script>
</script>
{% endblock %}
